@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{

	}
header{
	background:#363636;
	padding: 10 10;
	margin-top: 50;
	
}
.caixa{
	margin-left: 25%;
	position: relative;
	/*margin: 0 auto;*/
	padding:10px;
}
nav {
	position: absolute;
	top: 15px;
	left: 50px;
}
nav li{
	display: inline;
	margin: 0 0 0 15;
}
nav a{
	transition: 400ms;
	font-family: 'Raleway', sans-serif;
	color:#D3D3D3;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	padding:35px;

}
nav a:hover{
	transition: 400ms;
	color: #F8F8FF;
}
.baixo{
	float: right;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-decoration: none;
	margin-top: 5%;
	margin-right: 45%;	
}
.mais-embaixo{
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	padding-top: 1px;
	margin-right: 43%;
}
.links-baixo{
	color:#1E90FF;
	display: flex;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 19px;
	text-decoration: none;
	margin-right: 43%;
	padding: 10px 30px;

}
.links-baixo1{
	color:#1E90FF;
	display: flex;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 19px;
	text-decoration: none;
	margin-left: 10%;
	padding: 10px 20px;
}
.color{
	color: #000000;
}

.banner{

	float: top;
	display: flex;
	margin-top: 11%;
	margin-left: 22%;
}
.banner2{
		display: flex;
	    margin-top:0% ;
}
.bannertexto{
	padding-top: 50px;
	left: 45%;
	position: absolute;    
	color: whitesmoke;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 50px;
	text-decoration: none;

}
.bannertexto2{
	padding-top: 120px;
	left: 42%;
	position: absolute;    
	color: whitesmoke;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
.background{
	background: black;
}
.footer2{
	font-family: 'Montserrat', sans-serif;
}
footer{
	background: black;
	color: whitesmoke;
	font-size: 10px;
	text-align: center;
}
.compre{
	transition: 400ms;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	background: black;
       outline: none;
        border: none;
        color:white;
        font-size: 30px;
        text-transform: uppercase;
        cursor: pointer;
}
.compre:hover{
	transition: 400ms;
	font-family: 'Montserrat', sans-serif;
	background:black;
	color: white;
	 outline: none;
     border: none;
       font-size: 32px;

}
.logo:hover{
	cursor: pointer;

}